In [1]:
import json
from pathlib import Path

import ipywidgets as W

from ipyforcegraph.graphs import DataFrameSource, ForceGraph
import ipyforcegraph.behaviors as B

def make_a_simple_example(
    source=None, dataset="datasets/miserables.json", GraphClass=ForceGraph, node_color=None,
):
    if source is None:
        data = json.loads(Path(dataset).read_text())
        source = DataFrameSource(**data)
        if node_color:
            source.nodes["color"] = node_color
    
    selection = B.NodeSelection()
    fg = GraphClass(
        source=source,
        layout=dict(height="500px"),
        behaviors=(
            selection,
        )
    )
    box = W.HBox([fg, W.VBox([])])
    return fg, box

if __name__ == "__main__":
    fg, box = make_a_simple_example(node_color="red")
    display(box)

HBox(children=(ForceGraph(behaviors=(NodeSelection(),), layout=Layout(height='500px'), source=DataFrameSource(…

In [6]:
B.NodeSelection()

NodeSelection()

In [2]:
behaviors = [
    B.add_node_selection,
]
for add_behavior in behaviors:
    add_behavior(fg, box)

In [6]:
source.nodes

                 id  group color
0            Myriel      1   red
1          Napoleon      1   red
2   Mlle.Baptistine      1   red
3      Mme.Magloire      1   red
4      CountessdeLo      1   red
..              ...    ...   ...
72        Toussaint      5   red
73           Child1     10   red
74           Child2     10   red
75           Brujon      4   red
76    Mme.Hucheloup      8   red

[77 rows x 3 columns]